@keyframes moverFlechaMenu {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(12px);
    }

    100% {
        transform: translateX(12px);
    }
}

@keyframes volverFlechaMenu {
    0% {
        transform: translateX(12px);
    }

    100% {
        transform: translateX(0);
    }
}

.moverFlechaMenu:hover {
    animation: moverFlechaMenu 0.5s ease forwards;
}

.moverFlechaMenu:not(:hover) {
    animation: volverFlechaMenu 0.5s ease forwards;
}

#barraLateralBot::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#barraLateralBot::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

#barraLateralBot::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgb(17 24 39);
}

@keyframes slide-down {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(90%);
    }
}

@keyframes rotate-slowly {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes rotate-back-slowly {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}



/* Subrayado */
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: white;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


  
#cuadradoNotificaciones::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#cuadradoNotificaciones::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#cuadradoNotificaciones::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}
/* Define las animaciones */
@keyframes moverFlechaMenu {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(7px);
    }
    100% {
        transform: translateX(7px);
    }
}

@keyframes volverFlechaMenu {
    0% {
        transform: translateX(7px);
    }
    100% {
        transform: translateX(0);
    }
}

/* Aplica la transición */
.enlaceAnimado {
    transition: transform 0.5s ease;
}

/* Aplica la animación al pasar el ratón sobre el enlace */
.enlaceAnimado:hover .animacionCardFlecha {
    animation: moverFlechaMenu 0.5s ease forwards;
}

/* Aplica la animación cuando el ratón no está sobre el enlace */
.enlaceAnimado:not(:hover) .animacionCardFlecha {
    animation: volverFlechaMenu 0.5s ease forwards;
}






